#container
{
    width: 100%;
    max-width: 700px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.288);
    margin:10px;
}

form
{
    display: flex;
    flex-direction: column;
    padding:30px;
}

span
{
    color:red;
}

#rate
{
    overflow: hidden;
    margin:10px;
    padding: 10px;
    border:black solid 2px;
    border-radius: 10px;
    text-align: justify;
}

#date
{
    color: gray;
    margin-top: 10px;
    border-top: black solid 1px;
}